extends layout

block content
    script(src='https://static.airtable.com/js/embed/embed_snippet_v1.js')
    iframe.airtable-embed.airtable-dynamic-height(src='https://airtable.com/embed/shrJwmITYNLzGihhS?backgroundColor=cyan', frameborder='0', onmousewheel='', width='100%', height='2472', style='background: transparent; border: 1px solid #ccc;')